{% extends "admin/admins/base.html" %}
{% load formtags %}

{% block title %}{% if admin %}Edycja: {{admin.login}}{% else %}Nowy administrator{% endif %}{% endblock %}

{% block middlepane %}
<form action="{{basepath}}/save/" method="post">
<h1>{{admin.login}}</h1>
<br/>

{% form_input_text "Login" "login" admin.login %}
{% form_spacer %}
{% form_input_text "Pe³na nazwa (np. Imie Nazwisko)" "fullname" admin.fullname %}
{% form_spacer %}
{% form_input_check "Uprawniony do edycji tre¶ci" "can_write" admin.can_write %}
{% form_spacer %}

{% if admin %}
<br/>
Wype³nij poni¿sze pola tylko wtedy gdy chcesz zmienic has³o!<br/>
<br/>
{% endif %}

{% form_input_passwd "Has³o" "pass1" "pass2" %}
{% form_spacer %}
{% form_input_passwd "Has³o powtórzone" "pass2" %}
{% form_spacer %}

<div class="button_panel">
<input type="submit" class="button_submit" value="Zapisz" /> lub <a href="{{basepath}}/{{admin.id}}" class="nav">Anuluj</a>
</div>

<input type="hidden" name="id" value="{{admin.id}}" />
</form>

{% endblock %}
