{% extends "admin/admins/base.html" %}

{% block title %}Lista administratorów{% endblock %}

{% block middlepane %}

<table class="list">
<tr><th>Lp.</th><th>Login</th><th>Imiê, Nazwisko</th></tr>
{% for a in admins %}
<tr>
<td style="text-align: right;">{{forloop.counter}}</td>
<td>
<a href="{{a.get_admin_overview_url}}">{{a.login}}</a>
</td>
<td>{% if not a.active %}<span class="admin_name_blocked">{{a.fullname}}</span>{% else %}{{a.fullname}}{% endif %}</td>
</tr>
{% endfor %}
</table>
<br/>
<a href="{{basepath}}/new" class="nav">Dodaj</a>

{% endblock %}
