{% extends "admin/admins/base.html" %}

{% block title %}Podgl±d: {{admin.login}}{% endblock %}

{% block middlepane %}

<h1>{{admin.fullname}}</h1>
<br/>
Login: {{admin.login}}<br/>
{% if not admin.active %}(<span class="admin_blocked">konto zablokowane</span>)<br/>{% endif %}
<br/>
{% if admin.can_write %}Mo¿e edytowaæ zawarto¶æ<br/><br/>{% endif %}
Ostatnie udane logowanie: {{admin.last_good_login|date:"jS F Y H:i"|default:"brak"}}<br/>
Ostatnie nieudane logowanie: {{admin.last_bad_login|date:"jS F Y H:i"|default:"brak"}}<br/>
<br/>

<br/>
<a href="{{admin.get_admin_edit_url}}" style="float: left" class="nav">Edytuj</a> 
{% if admin.active %}
<a href="{{admin.get_admin_block_url}}" style="float: left" class="nav" onclick="return confirmBlock('administratora {{admin.login}}')">Zablokuj</a>
{% else %}
<a href="{{admin.get_admin_activate_url}}" style="float: left" class="nav" onclick="return confirmActivate('administratora {{admin.login}}')">Aktywuj</a>
{% endif %}
<a href="{{admin.get_admin_del_url}}" style="float: left" class="nav" onclick="return confirmDelete('administratora {{admin.login}}')">Usuñ</a>
<a href="{{basepath}}/" class="nav" style="float: right;">Wróæ</a>
<br/>
{% endblock %}
