{% extends "admin/confs/base.html" %}

{% block title %}Lista konferencji{% endblock %}
{% block onload %}$('id_search_keyword').focus(){% endblock %}

{% block middlepane %}
{% include "admin/confs/toolbar.html" %}

Archiwalne konferencje:<br/>
{% if confs|length %}
<br/>

<table class="list">
<tr><th>Lp.</th><th>Termin</th><th>Nazwa</th><th>Miasto, Kraj</th></tr>
{% for c in confs %}
<tr>
<td class="lp">{{forloop.counter}}</td>
<td>{{c.start_date}} - {{c.end_date}}</td>
<td>
<a href="{{c.get_admin_overview_url}}">{{c.name}}</a>
</td>
<td>{{c.address.city}}, {{c.address.country.name}}</td>
</tr>
{% endfor %}
</table>
{% else %}
&nbsp;&nbsp;Brak.
{% endif %}
<br/>
<br/>
<a href="/admin/confs/" class="nav">Wróæ</a>
{% endblock %}
