{% extends "admin/confs/base.html" %}

{% block title %}Lista konferencji{% endblock %}
{% block onload %}$('id_search_keyword').focus(){% endblock %}

{% block middlepane %}
<a href="{{basepath}}/new" class="nav">Dodaj</a><br/>
<br/>

Aktualnie odbywaj±ce siê konferencje:<br/>
{% if actual_confs|length %}
<br/>
<table class="list">
<tr><th>Lp.</th><th>Termin</th><th>Nazwa</th><th>Obiekt</th></tr>
{% for c in actual_confs %}
<tr>
<td class="lp">{% if c.active %}<img src="/m/gfx/tick.gif" border="0" width="16" height="16"/>&nbsp;{% endif %}{{forloop.counter}}</td>
<td>{{c.start_date}} - {{c.end_date}}</td>
<td>
<a href="{{basepath}}/{{c.id}}">{{c.name}}</a>
</td>
<td>{{c.hotel.name}}</td>
</tr>
{% endfor %}
</table>
{% else %}
&nbsp;&nbsp;Brak.
{% endif %}
<br/>
<br/>

Nadchodz±ce konferencje:<br/>
<br/>
<table class="list">
<tr><th>Lp.</th><th>Termin</th><th>Nazwa</th><th>Obiekt</th></tr>
{% for c in comming_confs %}
<tr>
<td class="lp">{% if c.active %}<img src="/m/gfx/tick.gif" border="0" width="16" height="16"/>&nbsp;{% endif %}{{forloop.counter}}</td>
<td>{{c.start_date}} - {{c.end_date}}</td>
<td>
<a href="{{basepath}}/{{c.id}}">{{c.name}}</a>
</td>
<td>{{c.hotel.name}}</td>
</tr>
{% endfor %}
</table>
<br/>
<br/>


<a href="/admin/confs/archive/" class="nav">Zobacz poprzednie konferencje</a>
{% endblock %}
