{% extends "admin/confs/base.html" %}

{% block title %}Lista konferencji{% endblock %}


{% block middlepane %}

<table class="list">
<tr><th>Lp.</th><th>Nazwa</th><th>Miasto, Kraj</th><th>Pocz±tek</th><th>Koniec</th></tr>
{% for c in confs %}
<tr>
<td style="text-align: right;">{{forloop.counter}}</td>
<td>
<a href="{{c.get_admin_url}}">{{c.name}}</a>
</td>
<td>{{c.address.city}}, {{c.address.country.name}}</td>
<td>{{c.start_date}}</td>
<td>{{c.end_date}}</td>
</tr>
{% endfor %}
</table>
<br/>
<a href="{{basepath}}/new" class="nav">Dodaj</a>

{% endblock %}
