{% extends "admin/hotels/base.html" %}

{% block title %}{% if hotel %}Edycja: {{hotel.name}}{% else %}Nowy hotel{% endif %}{% endblock %}

{% block middlepane %}
<form action="{{basepath}}/save/" method="post">
<h1>{{hotel.name}}</h1>
<br/>
<label for="id_name">Nazwa:</label><br>
<input type="text" name="name" id="id_name" class="input_standard input_width_big" value="{{ hotel.name }}">

<div class="form_spacer"></div>

<label for="id_standard">Standard:</label><br>
<select name="standard" id="id_standard">
{% for standard in hotel_standards %}
<option value="{{standard.value}}" {% ifequal standard.value hotel.standard %}selected{% endifequal %}>{{standard.stars}}</option>
{% endfor %}
</select>

<div class="form_spacer"></div>

<label for="id_city">Miasto:</label><br>
<input type="text" name="city" id="id_city" class="input_standard width_big" value="{{ hotel.address.city }}">

<div class="form_spacer"></div>

<label for="id_address">Adres:</label><br>
<input type="text" name="address" id="id_address" class="input_standard width_huge" value="{{ hotel.address.address }}">

<div class="form_spacer"></div>
<label for="id_country">Kraj:</label><br>
<select name="country" id="id_country">
{% for country in countries %}
<option value="{{country.id}}" {% ifequal country.id hotel.address.country_id %}selected{% endifequal %}>{{country.name}}</option>
{% endfor %}
</select>

<div class="form_spacer"></div>

<label for="id_desc">Opis:</label><br>
<textarea name="desc" id="id_desc" class="description">{{ hotel.description }}</textarea>

<div class="form_spacer"></div>

<div class="button_panel">
<input type="submit" class="button_submit" value="Zapisz" /> lub <a href="{{hotel.get_admin_overview_url}}" class="nav">Anuluj</a>
</div>

<input type="hidden" name="id" value="{{hotel.id}}" />
</form>

{% endblock %}
