{% extends "admin/hotels/base.html" %}
{% load formtags %}

{% block title %}{% if hotel %}Edycja: {{hotel.name}}{% else %}Nowy hotel{% endif %}{% endblock %}

{% block middlepane %}
<form action="{{basepath}}/save/" method="post">
<h1>{{hotel.name}}</h1>
<br/>

{% form_input_text "Nazwa" "name" hotel.name "huge" %}
{% form_spacer %}
{% form_select "Typ obiektu" "type" hotel_types hotel.type %}
{% form_spacer %}
{% form_select "Standard" "standard" hotel_standards hotel.standard %}
{% form_spacer %}

{% form_spacer %}
{% form_input_text "Ulica" "address" hotel.address.address %}
{% form_spacer %}
{% form_input_text "Miasto" "city" hotel.address.city %}
{% form_spacer %}
{% form_select "Kraj" "country" countries hotel.address.country_id %}
{% form_spacer %}
{% form_spacer %}

{% form_input_textarea "Opis" "desc" hotel.description %}
{% form_spacer %}

<div class="button_panel">
<input type="submit" class="button_submit" value="Zapisz" /> lub <a href="{{basepath}}/{{hotel.id}}" class="nav">Anuluj</a>
</div>

<input type="hidden" name="id" value="{{hotel.id}}" />
</form>

{% endblock %}
