{% extends "admin/hotels/base.html" %}

{% block title %}Podgl±d: {{hotel.name}}{% endblock %}

{% block middlepane %}

<h1>{{hotel.name}}</h1>
{% for i in hotel.tmp_stars %}
<img src="/m/gfx/star.gif" border="0" width="16" height="16" />
{% endfor %}
<br/>
<br/>
{{hotel.description|linebreaks}}
<br/>
<br/>

<b>Lokalizacja:</b><br/>
&nbsp;&nbsp;{{hotel.address.city}}<br/>
&nbsp;&nbsp;{{hotel.address.address}}<br/>
&nbsp;&nbsp;{{hotel.address.country.name}}<br/>

<br/>
<a href="{{basepath}}/{{hotel.id}}/edit" style="float: left" class="nav">Edytuj</a> 
<a href="{{basepath}}/{{hotel.id}}/del" style="float: left" class="nav" onclick="return confirmDelete('hotel {{hotel.name}}')">Usuñ</a>
<a href="{{basepath}}" class="nav" style="float: right;">Wróæ</a>
<br/>
{% endblock %}
