{% extends "admin/users/base.html" %}

{% block title %}Lista u¿ytkowników{% endblock %}
{% block left_title %}Filtr{% endblock %}

{% block leftpane %}
{% include "admin/users/filter.html" %}
{% endblock %}

{% block onload %}$('id_search_keyword').focus(){% endblock %}

{% block middlepane %}

<a href="{{basepath}}/new" class="nav">Dodaj</a><br/>
<br/>

<table class="list">
<tr><th>Lp.</th><th><a href="?sort=name">Imiê, Nazwisko</a></th><th><a href="?sort=phone">Telefon</a></th><th><a href="?sort=email">E-mail</a></th></tr>
{% for u in users %}
<tr>
<td style="text-align: right;">{{offset|add:forloop.counter}}</td>
<td>
<a href="{{u.get_admin_overview_url}}">{{u.fullname}}</a>
</td>
<td>{{u.phone}}</td>
<td><a href="mailto:{{u.email}}"">{{u.email}}</a></td>
</tr>
{% endfor %}
</table>
<br/>
{% include "pager.html" %}

{% endblock %}
