{% extends "admin/admins/base.html" %}

{% block title %}Lista administratorów{% endblock %}

{% block middlepane %}
<a href="{{basepath}}/new" class="nav">Dodaj</a>
<br/>
<br/>

<table class="list">
<tr><th>Lp.</th><th>Login</th><th>Imiê, Nazwisko</th></tr>
{% for a in admins %}
<tr>
<td class="lp">{{forloop.counter}}</td>
<td>
<a href="{{basepath}}/{{a.id}}">{{a.login}}</a>
</td>
<td>{% if not a.active %}<span class="admin_name_blocked">{{a.fullname}}</span>{% else %}{{a.fullname}}{% endif %}</td>
</tr>
{% endfor %}
</table>

{% endblock %}
