{% extends "admins/admins_base.html" %}

{% block title %}{% if admin %}Edycja: {{admin.login}}{% else %}Nowy administrator{% endif %}{% endblock %}

{% block middlepane %}
<form action="/hotels/save/" method="post">
<h1>{{admin.login}}</h1>
<br/>
<label for="id_name">Nazwa:</label><br>
<input type="text" name="name" id="id_name" class="input_standard input_width_big" value="{{ hotel.name }}">

<div class="form_spacer"></div>

<label for="id_standard">Standard:</label><br>
<select name="standard" id="id_standard">
{% for standard in hotel_standards %}
<option value="{{standard.value}}" {% ifequal standard.value hotel.standard %}selected{% endifequal %}>{{standard.stars}}</option>
{% endfor %}
</select>

<div class="form_spacer"></div>

<label for="id_city">Miasto:</label><br>
<input type="text" name="city" id="id_city" class="input_standard width_big" value="{{ hotel.city }}">

<div class="form_spacer"></div>

<label for="id_address">Adres:</label><br>
<input type="text" name="address" id="id_address" class="input_standard width_huge" value="{{ hotel.address }}">

<div class="form_spacer"></div>
<label for="id_country">Kraj:</label><br>
<select name="country" id="id_country">
{% for country in countries %}
<option value="{{country.id}}" {% ifequal country.id hotel.country_id %}selected{% endifequal %}>{{country.name}}</option>
{% endfor %}
</select>

<div class="form_spacer"></div>

<div class="button_panel">
<input type="submit" class="button_submit" value="Zapisz" /> lub <a href="/admins/{{admin.id}}" class="nav">Anuluj</a>
</div>

<input type="hidden" name="id" value="{{admin.id}}" />
</form>

{% endblock %}
