{% extends "admin/confs/base.html" %}

{% block title %}Podgl±d: {{conf.name}}{% endblock %}

{% block middlepane %}

<h1>{{conf.name}}</h1>
<h2>{{conf.start_date}} - {{conf.end_date}}</h2>
<br/>
{{conf.description|linebreaks}}
<br/>
<br/>

<b>Lokalizacja:</b><br/>
&nbsp;&nbsp;{{conf.address.address}}<br/>
&nbsp;&nbsp;{{conf.address.city}}<br/>
&nbsp;&nbsp;{{conf.address.country.name}}<br/>

<br/>
<a href="{{hotel.get_admin_edit_url}}" style="float: left" class="nav">Edytuj</a> 
<a href="{{hotel.get_admin_del_url}}" style="float: left" class="nav" onclick="return confirmDelete('hotel {{hotel.name}}')">Usuñ</a>
<a href="{{basepath}}" class="nav" style="float: right;">Wróæ</a>
<br/>
{% endblock %}
