{% extends "admin/contrs/base.html" %}

{% block title %}{% if user %}Edycja: {{user.login}}{% else %}Nowy useristrator{% endif %}{% endblock %}

{% block middlepane %}
<form action="{{basepath}}/save/" method="post">
<h1>{{user.login}}</h1>
<br/>
<label for="id_login">Login:</label><br>
<input type="text" name="login" id="id_login" class="input_standard input_width_big" value="{{ user.login }}">

<div class="form_spacer"></div>

<label for="id_fullname">Pe軟a nazwa (np. Imie Nazwisko):</label><br>
<input type="text" name="fullname" id="id_fullname" class="input_standard input_width_big" value="{{ user.fullname }}">

<div class="form_spacer"></div>

<label for="id_role">Typ u篡tkownika:</label><br>
<select name="role" id="id_role">
<option value="1" {% ifequal user.role 1 %}selected{% endifequal %}>Zwyk造</option>
<option value="2" {% ifequal user.role 2 %}selected{% endifequal %}>Administrator</option>
</select>

<div class="form_spacer"></div>

{% if user %}
<br/>
Wype軟ij poni窺ze pola tylko wtedy gdy chcesz zmienic has這!<br/>
<br/>
{% endif %}

<label for="id_pass1">Has這:</label><br>
<input type="password" name="pass1" id="id_pass1" class="input_standard input_width_big" value="">
&nbsp; <a href="#" onclick="genPass(); return false;" class="nav">Generuj</a> &nbsp; <span id="id_gen_pass"></span>

<div class="form_spacer"></div>

<label for="id_pass2">Has這 powt鏎zone:</label><br>
<input type="password" name="pass2" id="id_pass2" class="input_standard input_width_big" value="">

<div class="form_spacer"></div>

<div class="button_panel">
<input type="submit" class="button_submit" value="Zapisz" /> lub <a href="{{basepath}}/{{user.id}}" class="nav">Anuluj</a>
</div>

<input type="hidden" name="id" value="{{user.id}}" />
</form>

{% endblock %}
