{% extends "admin/contrs/base.html" %}

{% block title %}Podgl±d: {{user.login}}{% endblock %}

{% block middlepane %}

<h1>{{user.fullname}}</h1>
<br/>
{{user.tmp_role}}<br/>
Login: {{user.login}}<br/>
<br/>
Ostatnie logowanie: {{user.last_login|date:"jS F Y H:i"|default:"brak"}}<br/>
<br/>

<br/>
<a href="{{basepath}}/{{c.id}}/edit" style="float: left" class="nav">Edytuj</a> 
<a href="{{basepath}}/{{c.id}}/del" style="float: left" class="nav" onclick="return confirmDelete('u¿ytkownika {{user.login}}')">Usuñ</a>
<a href="{{basepath}}" class="nav" style="float: right;">Wróæ</a>
<br/>
{% endblock %}
