{% extends "base.html" %}

{% block menu %}
<div id="page_menu">
<a class="{% block menu_contractors %}{% endblock %}" href="/admin/contr/">kontrahenci</a> |
<a class="{% block menu_conferences %}{% endblock %}" href="/admin/confs/">konferencje</a> |
<a class="{% block menu_users %}{% endblock %}" href="/admin/users/">u¿ytkownicy</a> |
<a class="{% block menu_hotels %}{% endblock %}" href="/admin/hotels/">hotele</a> 
{% if request.session.admin.can_write %}| <a class="{% block menu_admins %}{% endblock %}" href="/admin/admins/">administratorzy</a>{% endif %}

</div>

{% endblock %}