{% extends "admin/contrs/base.html" %}

{% block title %}Lista kontrahentów{% endblock %}

{% block middlepane %}

<table class="list">
<tr><th>Lp.</th><th>Kontahent</th><th>Telefon</th><th>E-mail</th></tr>
{% for c in contractors %}
<tr>
<td style="text-align: right;">{{forloop.counter}}</td>
<td>
<a href="{{c.get_admin_overview_url}}">{{c.name}}</a>
</td>
<td>{{c.phone}}</td>
<td><a href="mailto:{{c.email}}">{{c.email}}</a></td>
</tr>
{% endfor %}
</table>
<br/>
<a href="{{basepath}}/new" class="nav">Dodaj</a>

{% endblock %}
