{% extends "admin/contrs/base.html" %}

{% block title %}Lista kontrahentów{% endblock %}
{% block onload %}$('id_search_keyword').focus(){% endblock %}

{% block middlepane %}
{% include "admin/contrs/toolbar.html" %}

<table class="list">
<tr><th>Lp.</th><th>Kontrahent</th><th>Telefon</th><th>E-mail</th></tr>
{% for c in contractors %}
<tr>
<td class="lp">{{forloop.counter}}</td>
<td>
<a href="{{basepath}}/{{c.id}}">{{c.name}}</a>
</td>
<td class="phone">{{c.phone}}</td>
<td class="email"><a href="mailto:{{c.email}}">{{c.email}}</a></td>
</tr>
{% endfor %}
</table>
<br/>
{% include "pager.html" %}


{% endblock %}
