

/* ogolne */


body {
	margin: 0 0 0 0;
	background-color: white;
	color: black;

	font-family: Tahoma, Arial;
	font-size: 9pt;
}


form {
  margin: 0; padding: 0;
}

ol, ul, li {
  margin: 0;
  padding: 0;
}

img {
  border: none;
}

h1 {
	font-family: Georgia, Times, Serif;
	font-size: 14pt;
	font-weight: bold;
	color: black;
	margin: 0 0 0 0;
}

p {
	text-indent: 30px;
}

/* sekcje */


/* naglowek */

#page_head {
	background-color: #ccc;/*#99AABB;*/
	/*width: 100%;*/
	font-size: 11pt;
	/*text-align: center;*/
	color: white;
	padding: 5px;
	font-style: italic;
	font-weight: bold;
	/*border-bottom: 1px solid black;*/
	margin: 0 20px 6px 20px;
	border-bottom: 2px solid #eee;
}

span.title {
	font-family: Georgia, Times, Serif;
	font-size: 30pt;
	font-style: italic;
}

span.title_small {
	font-family: Georgia, Times, Serif;
}


/* menu glowne */


#page_menu {
/*	background-color: #99AABB; */
	/*padding: 2px;*/
	padding: 2px 20px 0px 0px;
	text-align: right;
}

#page_menu a:hover {
	padding: 2px 2px 2px 2px;
	font-weight: bold;
	background-color: #ccc;
	color: white;
	text-decoration: none;
}

#page_menu a.active {
	padding: 2px 2px 2px 2px;
	font-weight: bold;
/*	background-color: #ccc; */
	color: black;
	text-decoration: none;
}

#page_menu a {
	padding: 2px 2px 2px 2px;
	font-weight: bold;
	color: #069;
	text-decoration: none;
	font-family: Georgia, Times, Serif;
	font-size: 12pt;
}



/* panel prawy */


#rightpane {
	width: 160px;
	float: right;
	margin: 10px 20px 0px 0px;
}


/* panel lewy */


#leftpane {
	margin: 10px 20px 0px 20px;
	float: left;
	/*position: absolute;*/
	width: 160px;
	/*left: 0px;*/

}

/* panel srodkowy */

#middlepane {
	margin: 10px 0px 0px 0px;
	position: absolute;
	left: 190px;
	right: 190px;
	/*float: left;*/
}

/* boxy */

div.box_title {
/*	background-color: #ccc;
	color: #036;*/
	background-color: black;
	color: white;
	font-family: Verdana, Arial, Helvetica;
	font-weight: bold;
	font-size: 9pt;
	padding: 2px 2px 2px 2px;
}

div.box_content {
	margin: 0 0 20px 0;
	padding: 10px 10px 10px 10px;
	background-color: #eee;
	border-bottom: 2px solid #ccc;
}

/* inne */

#page_foot {
	background-color: #CCBBAA;
	height: 50px;
	width: 100%;
}

.input_standard {
	color: black;
	background-color: white;
	border: 1px solid #8FB300;
	padding: 2px;
}

.input_login {
	margin-bottom: 10px;
	width: 100%;
}

.button_submit {
/*	background-color: #99AABB;*/
/*	background-color: 	#B37D00;*/
	background-color: black;
	color: white;
	font-weight: bold;
	/*border: 1px solid #935D00;*/
	border: 0;

	padding-left: 4px;
	padding-right: 4px;
	padding-top: 2px;
	padding-bottom: 2px;
}

div.form {
	border: 0px;
	padding: 15px;
	background-color: #FFFFCC;
}

div.form_spacer {
	height: 10px;
}

div.button_panel {
/*	background-color: red;
	width: 100%;*/
	border-top: 1px dotted #8FB300;
	padding: 10px 0px 0px 0px;
	margin-top: 10px;
	text-align: right;
}

a {
	text-decoration: none;
}

a:link { color: black; }
a:visited { color: black; }
a:hover {
/*	color: #fff;
	background-color: black;*/
	text-decoration: underline;
}

a.nav {
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 2px;
	padding-bottom: 2px;
}

a.nav:link, a.nav:visited {
  color: #668866;
}

a.nav:hover { color: #fff; background-color: #668866; }

#leftpane a.active {
	font-weight: bold;
}


legend {
	border: 1px solid #8FB300;
	padding: 3px 5px 3px 5px;
	font-weight: bold;
	color: white;
/*	background-color: #8FB300;*/
	background-color: #668866;
	font-style: italic;
}

fieldset {
	margin-top: 10px;
	padding-top: 15px;
	border: 1px solid #8FB300;
	background-color: #F2FFBF;
}


.width_normal {
	width: 120px;
}

.width_big {
	width: 200px;
}

.width_huge {
	width: 300px;
}

.width_small {
	width: 80px;
}

.width_tiny {
	width: 30px;
}

fieldset.hotel {
	width: 320px;
}

fieldset.login {
	width: 120px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
}


label {
}

textarea {
	font-family: Tahoma, Arial;
	font-size: 9pt;
	border: 1px solid #8FB300;
	padding: 3px;
}

textarea.description {
	height: 200px;
	width: 450px;
	
}


select {
	color: black;
	background-color: white;
	border: 1px solid #8FB300;
/*	padding: 2px;*/
}

div.menuitem {
	width: 120px;
	/*height: 30px;*/
	float: left;
	text-align: center;
	border-right: 4px solid #99AABB;
	border-bottom: 4px solid #99AABB;
	/*margin: 2px;*/
}


div.logininfo {
	float: right;
	/*text-align: right;*/
	color: black;
	vertical-align: bottom;
	/*padding-bottom: 3px;*/
	padding-right: 10px;
	padding-top: 9px;
}

div.error {
	text-align: center;
	font-weight: bold;
	font-style: italic;
}

div.msg_ok {
	background-color: green;
	text-align: center;
	border: 1px solid black;
	padding: 5px;
	margin: 0 20px 0 20px;
	color: white;
	font-weight: bold;
}

div.msg_err {
}

a.bold {
	font-weight: bold;
}



/* tabelki */

table.list {
	border: 1px solid #ccc;
	border-spacing: 0;
	
}

table.list th {
	background-color: #ccc;
	text-align: center;
	
	font-family: Verdana, Arial, Helvetica;
	font-weight: bold;
	font-size: 9pt;
	padding: 3px 8px 3px 8px;
}

table.list td {
	border: 1px solid #ccc;
	padding: 2px;
	/* background-color: white; */
	padding: 3px 8px 3px 8px;
}

table.list tr {
	background-color: white;
}
	
table.list tr:hover {
	background-color: #eee;
}

span.admin_blocked {
	color: red;
	font-style: italic;
}

span.admin_name_blocked {
	color: #555;
	text-decoration: line-through;
	font-style: italic;
}

div.pager {
	text-align: center;
}

span.page_active {
	font-weight: bold;
}

input.filter {
	margin-bottom: 10px;
	width: 100%;
}

