<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="pl" lang="pl">
<head>
  <title>Logowanie - WebCon</title>
  
  <link rel="Stylesheet" href="/m/css/main.css" type="text/css" media="screen" />
  <script src="/javascripts/todos.js?1153838711" type="text/javascript"></script>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>

<div id="page_head">
<span class="title">..:WebCon:..</span> <span class="title_small">Webowy System Konferencyjny</span>
</div>
{% block menu %}{% endblock %}

<div id="page_content">
{% block content %}Difoltowa zawartosc, nigdy nie powinna sie pokazac!{% endblock %}
</div> 
</body>
</html>
