<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="pl" lang="pl">
<head>
<title>WebCon</title>

<link rel="Stylesheet" href="/m/css/main.css" type="text/css"
	media="screen" />
<script src="/m/js/webcon.js" type="text/javascript"></script>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
{% block extrahead %}{% endblock %}
</head>

<body onload="{% block onload %}{% endblock %};">

<div id="page_head"><span class="title">..: webCon :..</span> <span
	class="title_small">webowy system konferencyjny</span></div>
{% block menu %}{% endblock %}

<div id="leftpane">
<div class="box_title">&raquo; {% block left_title %}Lista....{% endblock %}</div>
<div class="box_content">
{% block leftpane %}{% endblock %}
</div>
</div>

<div id="middlepane">
<div class="box_title">&raquo; {% block title %}...{% endblock %}</div>
<div class="box_content">
{% if msg_err %}<div class="msg_err">{{msg_err}}</div>{% endif %}
{% if msg_ok %}<div class="msg_ok">{{msg_ok}}</div>{% endif %}

{% block middlepane %}Difoltowa zawartosc,
nigdy nie powinna sie pokazac!{% endblock %}
</div>
</div>

<div id="rightpane">
<div class="box_title">&raquo; Konto</div>
<div class="box_content">
{% if request.session.user_id %}
<b>{{ request.session.user_fullname }} (<i>{{ request.session.user_login }}</i>)</b><br/>
<br/>
Ostatnie logowanie: {{request.session.user_last_login|date:"jS F Y H:i"|default:"brak"}}<br/>
<br/>
<a href="/logout/" class="nav">wyloguj</a>
{% else %}
<form action="/login/" method="post">
<fieldset class="login">
<legend>Logowanie</legend>

<label for="id_login">Login:</label><br>
<input type="text" name="login" id="id_login" class="input_standard width_normal" value="{{ POST.login }}">

<div class="form_spacer"></div>

<label for="id_pass">Hasło</label><br>
<input type="password" name="pass" id="id_pass" class="input_standard width_normal" value="">

<div class="button_panel">
<input type="submit" class="button_submit" value="Zaloguj" />
</div>

</fieldset>
</form>
{%if error%}<div class="error"><br/>{{error}}</div>{%endif%}
{% endif %}
</div>
{% block rightpane %}{% endblock %}
</div>
</body>
</html>
