{% extends "admin/users/base.html" %}
{% load formtags %}

{% block title %}Lista u¿ytkowników{% endblock %}
{% block onload %}$('id_search_keyword').focus(){% endblock %}

{% block middlepane %}
{% include "admin/users/toolbar.html" %}

<table class="list">
<tr><th>Lp.</th><th><a href="?sort=name">Imiê, Nazwisko</a></th><th><a href="?sort=phone">Telefon</a></th><th><a href="?sort=email">E-mail</a></th></tr>
{% for u in users %}
<tr>
<td class="lp">{{offset|add:forloop.counter}}</td>
<td>
<a href="{{basepath}}/{{u.id}}">{% if not u.active %}<span class="admin_name_blocked">{{u.fullname}}</span>{% else %}{{u.fullname}}{% endif %}</a>
</td>
<td class="phone">{{u.phone}}</td>
<td class="email">{% email u.email %}</td>
</tr>
{% endfor %}
</table>
<br/>
{% include "pager.html" %}

{% endblock %}
